.root {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border-right: 1px solid #dadce0;
}

.inputWrapper {
  padding: 2px 16px 2px 7px;
  min-width: 100px;
  margin-left: 12px;
  display: inline-block;
}

.input {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 3px;
  padding: 2px 2px 0 2px;
  order: 2;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  line-height: 26px;
  height: 30px;
  outline: none;
}

.dropdown {
  // position:unset;
  float: left;
  order: 1;
  color: #ff5252;
  // height: 100%;
}