.white { 
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
}

.dark { 
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
}